<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new group</title>
    <style>
        .p{
            display: block;
            margin-bottom: 10px;
            margin-top: 15px;
        }
    </style>
</head>
<body>
<h1>
    Search
</h1>
<form method="POST" action = 'http://localhost:8000/student/search'>
    {% csrf_token %}
<label class="p">
    Введите кого нужно найти <input type="text" name="search_name" required>
</label>
<input type="submit" value="OK">
<input type="reset" value="RESET">
</form>
{% for search  in searchs %}
    <p> Name : {{ search.name }}</p>
    <p> Surname : {{ search.surname }}</p>
    <p> Max Students : {{ search.avg_mark}}</p>
    <p>id : {{ search.group_id }}</p>
    <br/>
{% endfor %}
</body>
</html>